<page size="A4" type="anexo">
  <div class="container">
    {% include 'header.html' %}
    <div class="row">
      <div class="content anexo_title">
        <h1>ANEXOS</h1>
      </div>
    </div>
  </div>
</page>

{% for titulo, html in [('Hábitats presentes en ZEC "Sierra de Gredos y Valle del Jerte"', 'habitats_zec.html'),('Hábitats afectados', 'habitats_afectados.html'), ('Porcentaje de afección en los hábitats por parcela', 'habitats_porcentaje.html'), ('Fichas de evaluación previa', 'ficha_previa.html'), ('Fichas de ejecución y evaluación de la quema', 'ficha_ejecucion.html'), ('Ficha de seguimiento', 'ficha_seguimiento.html') ] %}
<page size="A4" type="anexo">
  <div class="container">
    {% include 'header.html' %}
    <div class="row">
      <div class="content anexo_title">
        <h4 class="text-xl">Anexo {{ loop.index }}:</h4>
        <h2>{{ titulo }}</h2>
      </div>
    </div>
  </div>
</page>
{% include html %}
{% endfor %}

<script src="../js/indice_anexo.js"></script>
