<!DOCTYPE html>
<html>
<head><meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../css/clima.css">
<link rel="stylesheet" href="../css/indice.css">
<link rel="stylesheet" href="../css/severidad.css">
<link rel="stylesheet" href="../css/anexo.css">
<link rel="stylesheet" href="../css/fichas.css">
</head>

<body>
  <page size="A4">
  <div class="container breakable">
  {% include 'header.html' %}
    <div class="row">
      <div class="content">
        {% for key, value in capitulos %}
        <h1>{{ loop.index }}. {{ key }}</h1>
        {% include value+'.html' %}
        {% endfor %}
      </div>
    </div>
  </div>
  </page>
  <script src="../js/texto.js"></script>
  <script src="../js/indice.js"></script>
  {% include 'anexo.html' %}
</body>
</html>
