  {% for parcela in parcelas %}
  <page size="A4" type="anexo" title="fichas">
  <div class="container">
  {% include 'header.html' %}
    <div class="row">
      <div class="content">
        <h4>Ejecución y evaluación de la quema / {{ parcela.nombre }} [1 / 2]</h4>
      </div>
    </div>
    <div class="row boxed">
      <div class="content width_100">
        <p><strong>1. Localización</strong></p>
        <div class="break"></div>
        <div class="subcontent width_75">
        {% for key, value in [('CCAA', 'Extremadura'), ('Provincia', 'Cáceres'), ('Municipio', 'Jerte'), ('Paraje', ''), ('Monte', '')] %}
          <p style="float: left">{{ key }}</p>
          <div class="caja larga">{{ value }}</div>
          <div style="clear:both"></div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row boxed">
      <div class="content width_100">
          <p><strong>3. Datos climáticos medios el día de ejecución de la quema</strong></p>
        <div class="break"></div>
        <div class="subcontent width_100">
          <table class="raw-table">
            <colgroup>
               <col span="1" style="width: 16%;">
               <col span="1" style="width: 8%;">
               <col span="1" style="width: 8%;">
               <col span="1" style="width: 12%;">
               <col span="1" style="width: 20%;">
               <col span="1" style="width: 3%;">
               <col span="1" style="width: 3%;">
               <col span="1" style="width: 2%;">
               <col span="1" style="width: 2%;">
               <col span="1" style="width: 2%;">
               <col span="1" style="width: 2%;">
            </colgroup>
            <thead>
              <tr>
                <td rowspan="2">HORA (solar)</td>
                <td colspan="2">VIENTO</td>
                <td rowspan="2">HR (%)</td>
                <td rowspan="2">Tº (ºC)</td>
                <td rowspan="2">ÍNDICE DE PELIGRO</td>
                <td rowspan="2">H.C.F.M.</td>
                <td colspan="4">Humedad del suelo</td>
              </tr>
              <tr>
                <td>Velocidad (km/h)</td>
                <td>Dirección</td>
                <td>E</td>
                <td>H</td>
                <td>S</td>
                <td>MS</td>
              </tr>
            </thead>
            <tbody>
              {% for n in range(3) %}
              <tr>
                {% for i in range(11) %}
                <td></td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="subcontent" style="width: 47%">
          <p>Humedad: Empapado (E), Húmedo, (H), Seco (S), Muy Seco (MS)</p>
        </div>
      </div>
    </div>

    <div class="row boxed">
      <div class="content width_100">
          <p><strong>3. Datos climáticos medios el día de ejecución de la quema</strong></p>
        <div class="break"></div>
        <div class="subcontent width_100">
          <table class="raw-table">
            <colgroup>
               <col span="1" style="width: 22%;">
               <col span="1" style="width: 16%;">
               <col span="1" style="width: 8%;">
               <col span="1" style="width: 8%;">
               <col span="1" style="width: 12%;">
               <col span="1" style="width: 20%;">
               <col span="1" style="width: 3%;">
               <col span="1" style="width: 3%;">
               <col span="1" style="width: 2%;">
               <col span="1" style="width: 2%;">
               <col span="1" style="width: 2%;">
               <col span="1" style="width: 2%;">
            </colgroup>
            <thead>
              <tr>
                <td rowspan="2">FECHA</td>
                <td rowspan="2">HORA (solar)</td>
                <td colspan="2">VIENTO</td>
                <td rowspan="2">HR (%)</td>
                <td rowspan="2">Tº (ºC)</td>
                <td rowspan="2">ÍNDICE DE PELIGRO</td>
                <td rowspan="2">H.C.F.M.</td>
                <td colspan="4">Humedad del suelo</td>
              </tr>
              <tr>
                <td>Velocidad (km/h)</td>
                <td>Dirección</td>
                <td>E</td>
                <td>H</td>
                <td>S</td>
                <td>MS</td>
              </tr>
            </thead>
            <tbody>
              {% for n in range(3) %}
              <tr>
                {% for i in range(12) %}
                <td></td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="subcontent" style="width: 47%">
          <p>Humedad: Empapado (E), Húmedo, (H), Seco (S), Muy Seco (MS)</p>
        </div>
      </div>
    </div>

    <div class="row boxed">
      <div class="content width_100">
          <p><strong>4. Desarrollo horario de la quema</strong></p>
        <div class="break"></div>
        <div class="subcontent">
          {% for texto in ['Hora de presencia de personal en la quema', 'Hora de encendido del material de ignición', 'Hora de apagado del material de ignición'] %}
          <p style="float: left">{{ texto }}</p>
          <div class="caja media"></div>
          <div style="clear:both"></div>
          {% endfor %}
        </div>
        <div class="subcontent">
          {% for texto in ['Hora de no presencia de llama en zona de quema', 'Hora de extinción del fuego', 'Hora de retirada del personalde la zona de quema'] %}
          <p style="float: left">{{ texto }}</p>
          <div class="caja media"></div>
          <div style="clear:both"></div>
          {% endfor %}
        </div>
        <div class="subcontent width_100">
          <p style="float:left">Material de ignición empleado</p><div class="caja medio-larga"></div>
        </div>
      </div>
    </div>
 
    <div class="row boxed">
      <div class="content width_100">
          <p><strong>5. Técnica de quema empleada</strong></p>
        <div class="break"></div>
        <div class="subcontent">
          {% for texto in ['Quema frontal', 'Quema por flancos', 'Quema por puntos', 'Quema circular'] %}
          <p style="float: left">{{ texto }}</p>
          <div class="caja"></div>
          <div style="clear:both"></div>
          {% endfor %}
        </div>
        <div class="subcontent">
          {% for texto in ['Quema central', 'Quema en retroceso', 'Quema por fajas', 'Quema en cordones'] %}
          <p style="float: left">{{ texto }}</p>
          <div class="caja"></div>
          <div style="clear:both"></div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row boxed">
      <div class="content width_100">
          <p><strong>6. Comportamiento del fuego</strong></p>
        <div class="break"></div>
        <div class="subcontent width_100">
          <table class="raw-table">
            <colgroup>
               <col span="1" style="width: 30%;">
               <col span="1" style="width: 14%;">
               <col span="1" style="width: 14%;">
               <col span="1" style="width: 14%;">
               <col span="1" style="width: 14%;">
               <col span="1" style="width: 14%;">
            </colgroup>
            <tbody>
              <tr>
                <td>Hora</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Longitud de llamas (metros)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Altura de llamas (metros)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Velocidad de propagación (metros/min)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </page>
  <page size="A4" type="anexo" title="fichas">
  <div class="container">
    {% include 'header.html' %}
    <div class="row">
      <div class="content">
        <h4>Ejecución y evaluación de la quema / {{ parcela.nombre }} [2 / 2]</h4>
      </div>
    </div>
    <div class="row boxed">
      <div class="content width_100">
          <p><strong>7. Logística de la quema</strong></p>
        <div class="break"></div>
        <div class="subcontent width_100">
          <table class="raw-table celda-alta">
            <colgroup>
               <col span="1" style="width: 10%;">
               <col span="1" style="width: 10%;">
               <col span="1" style="width: 10%;">
               <col span="1" style="width: 10%;">
               <col span="1" style="width: 10%;">
               <col span="1" style="width: 10%;">
               <col span="1" style="width: 10%;">
               <col span="1" style="width: 10%;">
               <col span="1" style="width: 10%;">
               <col span="1" style="width: 10%;">
               <col span="1" style="width: 10%;">
            </colgroup>
            <tbody>
              <tr>
                <td style="border: 0 solid black"></td>
                <td>Personal Técnico</td>
                <td>Agentes Forestales</td>
                <td>Capataces</td>
                <td>Peones</td>
                <td>Otro Personal</td>
                <td>Autobomba</td>
                <td>Bulldozer</td>
                <td>Otras Máquinas</td>
                <td>TOTAL</td>
              </tr>
              <tr>
                <td>Supervisión previa de la zona</td>
                {% for i in range(9) %}
                <td></td>
                {% endfor %}
              </tr>
              <tr>
                <td>Labores previas</td>
                {% for i in range(9) %}
                <td></td>
                {% endfor %}
              </tr>
              <tr>
                <td>Ejecución de la quema</td>
                {% for i in range(9) %}
                <td></td>
                {% endfor %}
              </tr>
              <tr>
                <td>Extinción y vigilancia</td>
                {% for i in range(9) %}
                <td></td>
                {% endfor %}
              </tr>
              <tr>
                <td>TOTAL</td>
                {% for i in range(9) %}
                <td></td>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
        </div>
      </div>
      <div class="row boxed">
        <div class="content width_100">
          <p><strong>8. Evaluación de la quema</strong></p>
          <div class="break"></div>
          <div class="subcontent padding_10">
            <p>Evaluación a corto plazo</p>
          </div>
          <div class="break"></div>
          <div class="subcontent">
          {% for texto in ['Superficie recorrida por el fuego', 'Profundidad de la capa de cenizas'] %}
          <p style="float: left">{{ texto }}</p>
          <div class="caja media"></div>
          <div style="clear:both"></div>
          {% endfor %}
          </div>
          <div class="break"></div>
          <div class="subcontent">
          <p>Cumplimiento de los objetivos específicos de la quema:</p>
          </div>
          <div class="subcontent">
            {% for i in ['Muy Alto', 'Alto', 'Medio', 'Bajo'] %}
            <p style="float: inline-end">{{ i }}</p><div class="caja" style="float: inline-end"></div>
            {% endfor %}
          </div>
          <div class="break"></div>
          <div class="subcontent">
          <p>Grado de reducción del combustible:</p>
          </div>
          <div class="break"></div>
          <div class="subcontent width_100">
            {% for i in ['Elevado(90-100%)', 'Muy Alto(80-90%)', 'Alto(70-80%)', 'Medio(60-80%)', 'Bajo(40-60%)', 'Muy Bajo(20-40%)', 'Nulo(0-20%)'] %}
            <p style="float: inline-end; font-size: 14px;">{{ i }}</p><div class="caja" style="float: inline-end"></div>
            {% endfor %}
          </div>
          <div class="break"></div>
          <div class="subcontent padding_10">
            <p>Evaluación a medio plazo</p>
          </div>
          <div class="break"></div>
          <div class="subcontent">
          <p>Cumplimiento de los objetivos generales:</p>
          </div>
          <div class="subcontent">
            {% for i in ['Muy Alto', 'Alto', 'Medio', 'Bajo'] %}
            <p style="float: inline-end">{{ i }}</p><div class="caja" style="float: inline-end"></div>
            {% endfor %}
          </div>
          <div class="break"></div>
          <div class="subcontent">
          <p>Regeneración de la zona arbustiva:</p>
          </div>
          <div class="subcontent">
            {% for i in ['Arbustiva ......%', 'Herbáceas ......%'] %}
            <p style="float: inline-end">{{ i }}</p><div class="caja" style="float: inline-end"></div>
            {% endfor %}
          </div>

        </div>
      </div>
      <div class="row boxed">
        <div class="content width_100">
          <p><strong>9. Croquis</strong></p>
          <div class="subcontent width_100">
            <img class="img_parcela_topo" src="../images/parcela_quema_{{ zona }}_topo_{{ parcela.parcela }}.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  </page>
  {% endfor %}
