<h1>1.-Introducción</h1>
  {% include 'plan_quemas_' + zona + '/introduccion.html' %}
<h1>2.-Localización</h1>
  {% include 'plan_quemas_' + zona + '/localizacion.html' %}
<h1>3.-Justificación</h1>
  {% include 'plan_quemas_' + zona + '/justificacion.html' %}
<h1>4.-Descripción de la parcela</h1>
  {% include 'plan_quemas_' + zona + '/parcela.html' %}
<h1>5.-Prescripción</h1>
  {% include 'plan_quemas_' + zona + '/prescripcion.html' %}
<h1>6.-Tratamientos previos, meteorología</h1>
  {% include 'plan_quemas_' + zona + '/tratamientos.html' %}
<h1>7.-Medios necesarios para la ejecución</h1>
  {% include 'plan_quemas_' + zona + '/medios.html' %}
<h1>8.-Afección de la quema a espacios naturales protegidos</h1>
  {% include 'plan_quemas_' + zona + '/afeccion.html' %}
<h1>9.-Manejo del humo</h1>
  {% include 'plan_quemas_' + zona + '/humo.html' %}
<h1>10.-Método de ejecución de la quema</h1>
  {% include 'plan_quemas_' + zona + '/ejecucion.html' %}
<h1>11.-Vigilancia y control</h1>
  {% include 'plan_quemas_' + zona + '/vigilancia.html' %}
<h1>12.-Plan de contingencia</h1>
  {% include 'plan_quemas_' + zona + '/contingencia.html' %}
<h1>13.-Evaluación</h1>
  {% include 'plan_quemas_' + zona + '/evaluacion.html' %}
<h1>14.-Evaluación Futura</h1>
  {% include 'plan_quemas_' + zona + '/evaluacion_futura.html' %}
