  {% include 'plan_quemas_' + zona + '/introduccion.html' %}
<h2>9.1.-Localización</h2>
  {% include 'plan_quemas_' + zona + '/localizacion.html' %}
<h2>9.2.-Justificación</h2>
  {% include 'plan_quemas_' + zona + '/justificacion.html' %}
<h2>9.3.-Descripción de las parcelas</h2>
  {% include 'plan_quemas_' + zona + '/parcela.html' %}
<h2>9.4.-Prescripción</h2>
  {% include 'plan_quemas_' + zona + '/prescripcion.html' %}
<h2>9.5.-Tratamientos previos, meteorología</h2>
  {% include 'plan_quemas_' + zona + '/tratamientos.html' %}
<h2>9.6.-Medios necesarios para la ejecución</h2>
  {% include 'plan_quemas_' + zona + '/medios.html' %}
<h2>9.7.-Afección de la quema a espacios naturales protegidos</h2>
  {% include 'plan_quemas_' + zona + '/afeccion.html' %}
<h2>9.8.-Manejo del humo</h2>
  {% include 'plan_quemas_' + zona + '/humo.html' %}
<h2>9.9.-Método de ejecución de la quema</h2>
  {% include 'plan_quemas_' + zona + '/ejecucion.html' %}
<h2>9.10.-Vigilancia y control</h2>
  {% include 'plan_quemas_' + zona + '/vigilancia.html' %}
<h2>9.11.-Plan de contingencia</h2>
  {% include 'plan_quemas_' + zona + '/contingencia.html' %}
<h2>9.12.-Evaluación</h2>
  {% include 'plan_quemas_' + zona + '/evaluacion.html' %}
<h2>9.13.-Evaluación Futura</h2>
  {% include 'plan_quemas_' + zona + '/evaluacion_futura.html' %}
