<h1>3.- ÁMBITO DE APLICACIÓN.</h1>
  {% include 'ubicacion.html' %}
  <h2>3.1 CONDICIONES CLIMÁTICAS.</h2>
  {% include 'meteo_' + comarca + '.html' %}
  <h2>3.2 HIDROGRAFÍA.</h2>
  {% include 'hidrografia.html' %}
  <h2>3.3 GEOLOGÍA Y SUELOS.</h2>
    <h3>3.3.1 GEOLOGÍA.</h3>
    {% include 'geologia_' + comarca + '.html' %}
    <h3>3.3.2 EDAFOLOGÍA.</h3>
    {% include 'edafologia.html' %}
  <h2>3.4 OROGRAFÍA y PENDIENTES.</h2>
    <h3>3.4.1 OROGRAFÍA.</h3>
    {% include 'orografia_' + comarca + '.html' %}
    <h3>3.4.2 PENDIENTES.</h3>
    {% include 'pendientes.html' %}
  <h2>3.5 VEGETACIÓN.</h2>
    {% include 'vegetacion.html' %}
  <h2>3.6 FAUNA.</h2>
    {% include 'fauna.html' %}
  <h2>3.7 HISTÓRICO DE INCENDIOS.</h2>
  {% include 'historico.html' %}
  <h2>3.8 RELACIÓN DE PROPIETARIOS.</h2>
  {% include 'propietarios.html' %}
  <h2>3.9 NORMATIVA.</h2>
  {% include 'normativa.html' %}
