<page size="A4" type="anexo">
  <div class="container">
    {% include 'header.html' %}
    <div class="row">
      <div class="content anexo_title">
        <h1>ANEXOS</h1>
      </div>
    </div>
  </div>
</page>

<page size="A4" type="anexo">
  <div class="container">
    {% include 'header.html' %}
    <div class="row">
      <div class="content anexo_title">
        <h4 class="text-xl">Anexo 1:</h4>
        <h2>Climodiagramas</h2>
      </div>
    </div>
  </div>
</page>
{% include 'meteo_anexo.html' %}

<page size="A4" type="anexo">
  <div class="container">
    {% include 'header.html' %}
    <div class="row">
      <div class="content anexo_title">
        <h4 class="text-xl">Anexo 2:</h4>
        <h2>Habitats</h2>
      </div>
    </div>
  </div>
</page>
{% include 'habitats.html' %}

<page size="A4" type="anexo">
  <div class="container">
    {% include 'header.html' %}
    <div class="row">
      <div class="content anexo_title">
        <h4 class="text-xl">Anexo 3:</h4>
        <h2>Análisis situaciones sinópticas</h2>
      </div>
    </div>
  </div>
</page>
{% include 'condiciones_sinopticas_anexo.html' %}

<page size="A4" type="anexo">
  <div class="container">
    {% include 'header.html' %}
    <div class="row">
      <div class="content anexo_title">
        <h4 class="text-xl">Anexo 4:</h4>
        <h2>Análisis severidad</h2>
      </div>
    </div>
  </div>
</page>
{% include 'severidad_anexo.html' %}

<page size="A4" type="anexo">
  <div class="container">
    {% include 'header.html' %}
    <div class="row">
      <div class="content anexo_title">
        <h4 class="text-xl">Anexo 5:</h4>
        <h2>Causas de los incendios producidos en la zona de estudio durante el periodo 2001-2019</h2>
      </div>
    </div>
  </div>
</page>
{% include 'causas.html' %}

<page size="A4" type="anexo">
  <div class="container">
    {% include 'header.html' %}
    <div class="row">
      <div class="content anexo_title">
        <h4 class="text-xl">Anexo 6:</h4>
        <h2>Parcelas catastrales</h2>
      </div>
    </div>
  </div>
</page>
{% include 'catastro.html' %}

<page size="A4" type="anexo">
  <div class="container">
    {% include 'header.html' %}
    <div class="row">
      <div class="content anexo_title">
        <h4 class="text-xl">Anexo 7:</h4>
        <h2>Hojas de firmas</h2>
      </div>
    </div>
  </div>
</page>
{% include 'hoja_firmas.html' %}

<page size="A4" type="anexo">
  <div class="container">
    {% include 'header.html' %}
    <div class="row">
      <div class="content anexo_title">
        <h4 class="text-xl">Anexo 8:</h4>
        <h2>Fichas de control de elementos</h2>
      </div>
    </div>
  </div>
</page>
{% include 'control_elementos.html' %}

<page size="A4" type="anexo">
  <div class="container">
    {% include 'header.html' %}
    <div class="row">
      <div class="content anexo_title">
        <h4 class="text-xl">Anexo 9:</h4>
        <h2>Ficha de evaluación previa</h2>
      </div>
    </div>
  </div>
</page>
{% include 'plan_quemas_' + zona + '/ficha_previa.html' %}

<page size="A4" type="anexo">
  <div class="container">
    {% include 'header.html' %}
    <div class="row">
      <div class="content anexo_title">
        <h4 class="text-xl">Anexo 10:</h4>
        <h2>Ficha de ejecución y evaluación de la quema</h2>
      </div>
    </div>
  </div>
</page>
{% include 'plan_quemas_' + zona + '/ficha_ejecucion.html' %}

<page size="A4" type="anexo">
  <div class="container">
    {% include 'header.html' %}
    <div class="row">
      <div class="content anexo_title">
        <h4 class="text-xl">Anexo 11:</h4>
        <h2>Ficha de seguimiento</h2>
      </div>
    </div>
  </div>
</page>
{% include 'plan_quemas_' + zona + '/ficha_seguimiento.html' %}

<script src="../js/indice_anexo.js"></script>
