<page size="A4" type="anexo">
    <div class="container">
      {% include 'header.html' %}
        <div class="row">
            <div class="content">
              <h4 class="center text-med">Parcelas catastrales</h4>
            </div>
        </div>
        <div class="row">
            <div class="content">
              <img class="parcela" src="../images/catastro_{{ zona }}.png" />
            </div>
        </div>
        {% for parcela in catastro %}
        <div class="row">
          <div class="content">
            <h4 class="center text-small">{{ parcela.nombre or zona + parcela.masa }}<h4>
          </div>
        </div>
        <div class="row">
          <div class="content style-table">
            <table>
              <tbody>
                <tr>
                  <td>Nombre</td>
                  <td class="text-right">{{ parcela.nombre or zona + parcela.masa }}</td>
                </tr>
                <tr>
                  <td>Superficie</td>
                  <td class="text-right">{{ parcela.sup }} has</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="content">
            <img class="subparcela" src="../images/subparcela_{{ parcela.nombre | replace(' ', '_') if parcela.nombre else zona + parcela.masa }}.png"/>
          </div>
      </div>
      {% if (loop.index + 1) % 3 == 0 and loop.index != catastro | length %}
    </div>
</page>
<page size="A4" type="anexo">
    <div class="container">
      {% include 'header.html' %}
      {% endif %}
      {% endfor %}
    </div>
</page>
