<p>Como ya hemos visto, nuestra zona de estudio se encuentra en el ZEC Sierra de Gredos y Valle del Jerte y en su plan de gestión se definen una serie de especies animales clasificadas como Especies Natura 2000 que son susceptibles de conservación. Estas especies son las siguientes:</p>
</div>
</div>
<div class="row">
  <div class="content style-table">
    {{ fauna.to_html(border=0, index=Fales) }}
  </div>
</div>
<div class="row">
  <div class="content">
    <p>Parte de nuestra zona de estudio se encuentra en la Zona de Interes Prioritario 3, en la cual se define tanto el desmán ibérico como la lagartija carpetana como elementos claves para la conservación. El plan de gestión del ZEC establece las quemas como posible amenaza de la lagartija carpetana pues puede eliminar el habitat de alimentación óptimo para la especie, como son los piornales. Así que habrá que tenerlo en cuenta a la hora de planificar parcelas en estos habitats. Para el desmán ibérico no se establecen las quemas como un amenaza para la especie, pero es una especie catalogada "En Peligro de extinción" en el CREAE. En Extremadura solo aparece en este ZEC y las poblaciones son muy escasas, por lo que conviene hacer un pequeño estudio de la especie:</p>
    <p>Su habitat lo constituyen los arroyos de montaña con pendiente pronunciada y profundidad pequeña o moderada y que tengan agua durante todo el año. Posee hábitos nocturnos y no tiene periodo de hibernación. Su periodo de reprodución abarca los meses de enero a mayo y los partos de marzo a julio. Su alimentación está constituida por vertebrados bentónicos de tamaño relativamente grande, principalmente larvas de tricópteros. A su vez es presa de la nutria, garza, de la cigüeña y menos frecuentemente del ratonero y la lechuza común.</p>
    <p>Por otra parte, dentro de la Zona de Interés Prioritario 3 se menciona al pechiazul (Luscinia svecica) como otros valores para la conservación y se consideran las quemas de matorral como amenaza para la especie pues pueden afectar a las zonas de reproducción de la misma.</p>
    {% if zona == 'tornavacas' %}
    <p>La cabaña ganadera está compuesta por 490 cabezas de ganado vacuno de la raza morucha y está distribuída por fincas de la siguiente manera: 160 vacas en la finca "El Cardal", 160 en la finca "Talamancas", 130 en la finca "La campana" y 20 en La finca "El Tejadillo". Además, en la finca el Tejadillo hay 300 cabras.</p>
    {% endif %}
    {% if zona == 'jerte' %}
    <p>La cabaña ganadera está compuesta por 180 cabezas de ganado vacuno de la raza morucha.</p>
    {% endif %}
    {% if zona == 'losar' %}
    <p>La cabaña ganadera está compuesta por 300 cabras que se encuentran todo el año y 150 vacas que pastan en verano.</p>
    {% endif %}
    <p>En cuanto a las especies cinegéticas, la zona constituye un área de paso de cabra montés, corzo, jabalí y ciervo. Toda la superficie de estudio es acotado de caza.</p>
