{% if zona == 'losar' %}
<p>Todo la supeficie que conforma la zona de estudio es monte de utilidad pública.</p>
{% else %}
</div>
</div>
<div class="row">
  <div class="content style-table">
    {{ forestales.to_html(border=0, index=false) }}
  </div>
</div>
<div class="row">
  <div class="content style-table">
    <table>
      <thead>
        <tr>
          <td>Nombre de la parcela</td>
          <td>Superficie parcela</td>
        </tr>
      </thead>
      <tbody>
        {% for cat in catastro %}
        <tr>
          <td>{{ cat.nombre or zona+cat.masa }}</td>
          <td class="center">{{ cat.sup }} has</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class"content">
    <p>En el Anexo se muestra la ubicación de las parcelas catastrales y los diferentes usos que se dan en ellas.</p>
    {% endif %}
