<page size="A4">
  <div class="container breakable">
    {% include 'header.html' %}
      <div class="row">
        <div class="content">
          {% for capitulo in capitulos %}
          {% include capitulo + '.html' %}
          {% endfor %}
          <h1>9. PLAN DE QUEMAS.</h1>
          {% include 'plan_quemas_' + zona + '/contenido.html' %}
          {% include 'regeneracion.html' %}
       </div>
    </div>
  </div>
</page>
<script src="../js/texto.js"></script>
<script src="../js/indice.js"></script>
