page[title="fichas"] .boxed {
  border: 1px solid black;
  justify-content: space-between;
  margin: 20px;
  padding-left: 20px;
}
page[title="fichas"] p{
  font-size: 16px;
}
page[title="fichas"] .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
page[title="fichas"] .break {
  flex-basis: 100%;
  height: 0;
}
page[title="fichas"] .subcontent {
  width: 46%; 
  padding: 0 20px
}
page[title="fichas"] .width_100 {
  width: 100%;
}
page[title="fichas"] .subcontent p {
  margin: 5px;
}
page[title="fichas"] .width_75 {
  width:75%;
}
page[title="fichas"] .caja {
  float: right;
  margin: 5px;
  border: 1px solid black;
  width: 16px;
  text-align: center;
  height:16px;
}
page[title="fichas"] .larga {
  width: 80%;
  text-align: left;
  padding: 4px;
  margin: 0;
}
page[title="fichas"] .medio-larga {
  width: 70%;
  text-align: left;
  padding: 4px;
  margin: 0;

}
page[title="fichas"] .width_30 {
  width: 30%;
}
page[title="fichas"] .width_50 {
  width: 60%;
}
page[title="fichas"] .media {
  width: 20%;
  text-align: left;
  padding: 4px;
  margin: 0;
}
page[title="fichas"] .raw-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
page[title="fichas"] .raw-table tr {
  height: 30px;
}
page[title="fichas"] .raw-table td {
  border: 1px solid black;
}
page[title="fichas"] .celda-alta td {
  height: 60px;
}
page[title="fichas"] .padding_10 {
  padding: 20px 10px;
}
page[title="fichas"] .padding_10 p {
  text-decoration: underline;
  font-size: 18px
}
page[title="fichas"] .img_parcela {
  max-width: 100%;
  max-height: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
page[title="fichas"] .img_parcela_topo {
  max-width: 100%;
  max-height: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}