<h1>1.-Introducción</h1>
<h1>2.-Localización</h1>
  {% include 'localizacion.html' %}
<h1>3.-Justificación</h1>
<h1>4.-Descripción de la parcela</h1>
  {% include 'parcela.html' %}
<h1>5.-Prescripción</h1>
  {% include 'prescripcion.html' %}
<h1>6.-Tratamientos previos, meteorología</h1>
<h1>7.-Medios necesarios para la ejecución</h1>
<h1>8.-Afección de la quema a espacios naturales protegidos</h1>
  {% include 'afeccion.html' %}
<h1>9.-Manejo del humo</h1>
<h1>10.-Método de ejecución de la quema</h1>
<h1>11.-Vigilancia y control</h1>
<h1>12.-Plan de contingencia</h1>
<h1>13.-Evaluación</h1>
