<page size="A4" type="anexo">
  <div class="container">
    {% include 'header.html' %}
    <div class="row">
      <div class="content anexo_title">
        <h1>Anexos</h1>
      </div>
    </div>
  </div>
</page>

<page size="A4" type="anexo">
  <div class="container">
    {% include 'header.html' %}
    <div class="row">
      <div class="content anexo_title">
        <h4 class="text-xl">Anexo 1:</h4>
        <h2>Ficha planificación previa a la quema</h2>
      </div>
    </div>
  </div>
</page>
{% include 'ficha_previa.html' %}

<page size="A4" type="anexo">
  <div class="container">
    {% include 'header.html' %}
    <div class="row">
      <div class="content anexo_title">
        <h4 class="text-xl">Anexo 2:</h4>
        <h2>Ficha ejecución y evaluación de la quema</h2>
      </div>
    </div>
  </div>
</page>
{% include 'ficha_ejecucion.html' %}

<page size="A4" type="anexo">
  <div class="container">
    {% include 'header.html' %}
    <div class="row">
      <div class="content anexo_title">
        <h4 class="text-xl">Anexo 3:</h4>
        <h2>Ficha de seguimiento anual de la quema</h2>
      </div>
    </div>
  </div>
</page>
{% include 'ficha_seguimiento.html' %}

<script src="../js/indice_anexo.js"></script>
