<page size="A4" type="anexo">
  <div class="container">
    {% include 'header.html' %}
    <div class="row">
      <div class="content anexo_title">
        <h1>Anexos</h1>
      </div>
    </div>
  </div>
</page>

<page size="A4" type="anexo">
  <div class="container">
    {% include 'header.html' %}
    <div class="row">
      <div class="content anexo_title">
        <h4 class="text-xl">Anexo 2:</h4>
        <h2>Climodiagramas</h2>
      </div>
    </div>
  </div>
</page>
{% include 'meteo_anexo.html' %}

<page size="A4" type="anexo">
  <div class="container">
    {% include 'header.html' %}
    <div class="row">
      <div class="content anexo_title">
        <h4 class="text-xl">Anexo 3:</h4>
        <h2>Análisis condiciones sinópticas</h2>
      </div>
    </div>
  </div>
</page>
{% include 'condiciones_sinopticas_anexo.html' %}

<page size="A4" type="anexo">
  <div class="container">
    {% include 'header.html' %}
    <div class="row">
      <div class="content anexo_title">
        <h4 class="text-xl">Anexo 4:</h4>
        <h2>Análisis severidad</h2>
      </div>
    </div>
  </div>
</page>
{% include 'severidad_anexo.html' %}

<page size="A4" type="anexo">
  <div class="container">
    {% include 'header.html' %}
    <div class="row">
      <div class="content anexo_title">
        <h4 class="text-xl">Anexo 5:</h4>
        <h2>Parcelas catastrales</h2>
      </div>
    </div>
  </div>
</page>
{% include 'catastro.html' %}

<page size="A4" type="anexo">
  <div class="container">
    {% include 'header.html' %}
    <div class="row">
      <div class="content anexo_title">
        <h4 class="text-xl">Anexo 6:</h4>
        <h2>Hojas de firmas</h2>
      </div>
    </div>
  </div>
</page>
{% include 'hoja_firmas.html' %}

<page size="A4" type="anexo">
  <div class="container">
    {% include 'header.html' %}
    <div class="row">
      <div class="content anexo_title">
        <h4 class="text-xl">Anexo 7:</h4>
        <h2>Fichas de control de elementos</h2>
      </div>
    </div>
  </div>
</page>
{% include 'control_elementos.html' %}

<script src="../js/indice_anexo.js"></script>
