<page size="A4" type="anexo">
  <div class="container">
    {% include 'header.html' %}
    <div class="row">
      <div class="content">
        <h4 class="text-med">Control de elementos del plan de quema</h4>
      </div>
    </div>
    <div class="row">
      <div class="content width_100">
        <table class="style-table table-border">
          <colgroup>
           <col span="1" style="width: 33%;">
           <col span="1" style="width: 33%;">
           <col span="1" style="width: 33%;">
          </colgroup>

          <tbody>
            <tr>
              <td colspan=3>Nombre y apellidos: </td>
            </tr>
            <tr>
              <td>DNI:</td>
              <td>Cargo:</td>
              <td>Parcela:</td>
            </tr>
            <tr>
              <td>Fecha:</td>
              <td colspan=2>Resolucion:</td>
            </tr>
          </tbody>
        </table>
        <table class="style-table table-border">
          <colgroup>
           <col span="1" style="width: 15%;">
           <col span="1" style="width: 55%;">
           <col span="1" style="width: 15%;">
           <col span="1" style="width: 15%;">
          </colgroup>

          <thead>
            <tr>
              <th colspan=4>Autorizaciones y legalidad</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan=2></td>
              <td>SÍ</td>
              <td>NO</td>
            </tr>
            <tr>
              <td colspan=2>Cumple legalidad vigente</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan=2>Autorización para la realización</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan=2>Plan de de quema</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan=2>Plan de contingencia</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan=2>Plan de seguridad</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan=2>Periodo operacional concretado</td>
              <td></td>
              <td></td>
            </tr>
            <tr style="height: 120px">
              <td>Comentarios:</td>
              <td colspan=3></td>
            </tr>
          </tbody>
        </table>
        <table class="style-table table-border">
          <colgroup>
           <col span="1" style="width: 15%;">
           <col span="1" style="width: 55%;">
           <col span="1" style="width: 15%;">
           <col span="1" style="width: 15%;">
          </colgroup>

          <thead>
            <tr>
              <th colspan=4>Personal</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan=2></td>
              <td>SÍ</td>
              <td>NO</td>
            </tr>
            <tr>
              <td colspan=2>Personal cualificado suficiente</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan=2>Jefe de quema</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan=2>Equipo de ignición</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan=2>Equipo de contención</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan=2>Equipo de seguridad</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan=2>Recursos humanos suficientes</td>
              <td></td>
              <td></td>
            </tr>
            <tr style="height: 120px">
              <td>Comentarios:</td>
              <td colspan=3></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</page>
<page size="A4" type="anexo">
  <div class="container">
    {% include 'header.html' %}
    <div class="row">
      <div class="content width_100">
        </table>
        <table class="style-table table-border">
          <colgroup>
           <col span="1" style="width: 15%;">
           <col span="1" style="width: 55%;">
           <col span="1" style="width: 15%;">
           <col span="1" style="width: 15%;">
          </colgroup>

          <thead>
            <tr>
              <th colspan=4>Condiciones meteorológicas</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan=2></td>
              <td>SÍ</td>
              <td>NO</td>
            </tr>
            <tr>
              <td colspan=2>Cumplen la ventana de prescripción de quema</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan=2>Dentro de los objetivos</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan=2>Parámetros esperados en la previsión</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan=2>Existen cambios esperados de comportamiento</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan=2>La información es conocida por todo el personal</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan=2>Límites de seguridad en toda la franja horaria de ejecución</td>
              <td></td>
              <td></td>
            </tr>
            <tr style="height: 120px">
              <td>Comentarios:</td>
              <td colspan=3></td>
            </tr>
          </tbody>
        </table>
        <table class="style-table table-border">
          <colgroup>
           <col span="1" style="width: 15%;">
           <col span="1" style="width: 55%;">
           <col span="1" style="width: 15%;">
           <col span="1" style="width: 15%;">
          </colgroup>

          <thead>
            <tr>
              <th colspan=4>Seguridad</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan=2></td>
              <td>SÍ</td>
              <td>NO</td>
            </tr>
            <tr>
              <td colspan=2>Plan de seguridad</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan=2>Protocolo de actuación en caso de accidente</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan=2>Plan de evacuación</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan=2>Jefe de seguridad</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan=2>El plan es conocido por todo el personal</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan=2>UVI móvil en la zona</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan=2>Vehículo de evacuación asignado</td>
              <td></td>
              <td></td>
            </tr>
            <tr style="height: 120px">
              <td>Comentarios:</td>
              <td colspan=3></td>
            </tr>
          </tbody>
        </table>
         <table class="style-table table-border">
          <colgroup>
           <col span="1" style="width: 15%;">
           <col span="1" style="width: 55%;">
           <col span="1" style="width: 15%;">
           <col span="1" style="width: 15%;">
          </colgroup>

          <thead>
            <tr>
              <th colspan=4>Parcela</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan=2></td>
              <td>SÍ</td>
              <td>NO</td>
            </tr>
            <tr>
              <td colspan=2>Trabajos y labores previas realizados</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan=2>Análisis de puntos críticos</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan=2>Los puntos significativos o críticos son conocidos por todos</td>
              <td></td>
              <td></td>
            </tr>
            <tr style="height: 120px">
              <td>Comentarios:</td>
              <td colspan=3></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</page>
