<page size="A4" type="anexo">
  <div class="container">
    {% include 'header.html' %}
    <div class="row">
      <div class="content">
        <h4 class="text-med">Hojas de firmas para quema prescrita</h4>
      </div>
    </div>
    <div class="row">
      <div class="content width_100">
        <table class="style-table table-border">
          <colgroup>
           <col span="1" style="width: 25%;">
           <col span="1" style="width: 25%;">
           <col span="1" style="width: 25%;">
           <col span="1" style="width: 25%;">
          </colgroup>

          <tbody>
            <tr>
              <td>Nombre o denominación de la parcela</td>
              <td></td>
              <td>Plan de quema donde se enmarca</td>
              <td></td>
            </tr>
            <tr>
              <td>Nombre del equipo de quema</td>
              <td></td>
              <td>Fecha</td>
              <td></td>
            </tr>
            <tr>
              <td>Nivel de complejidad</td>
              <td></td>
              <td>Responsable plan de quema</td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <table class="style-table table-border">
          <colgroup>
           <col span="1" style="width: 27%;">
           <col span="1" style="width: 13%;">
           <col span="1" style="width: 20%;">
           <col span="1" style="width: 15">
           <col span="1" style="width: 25%;">
          </colgroup>

          <thead>
            <tr>
              <th>Nombre y apellidos</th>
              <th>DNI</th>
              <th>Responsabilidad</th>
              <th>Tiempo de asistencia</th>
              <th>Firma</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Marcos Gómez Carpintero</td>
              <td>66677766M</td>
              <td>Jefe de quema</td>
              <td>7:30 - 16:45</td>
              <td></td>
            </tr>
          {% for i in range(21) %}
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</page>
<page size="A4" type="anexo">
  <div class="container">
    {% include 'header.html' %}
    <div class="row">
      <div class="content width_100">
        <table class="style-table table-border">
          <colgroup>
           <col span="1" style="width: 27%;">
           <col span="1" style="width: 13%;">
           <col span="1" style="width: 20%;">
           <col span="1" style="width: 15">
           <col span="1" style="width: 25%;">
          </colgroup>

          <thead>
            <tr>
              <th>Nombre y apellidos</th>
              <th>DNI</th>
              <th>Responsabilidad</th>
              <th>Tiempo de asistencia</th>
              <th>Firma</th>
            </tr>
          </thead>
          <tbody>
          {% for i in range(30) %}
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</page>
<page size="A4" type="anexo">
  <div class="container">
    {% include 'header.html' %}
    <div class="row">
      <div class="content width_100">
        <table class="style-table table-border">
          <colgroup>
           <col span="1" style="width: 27%;">
           <col span="1" style="width: 13%;">
           <col span="1" style="width: 20%;">
           <col span="1" style="width: 15">
           <col span="1" style="width: 25%;">
          </colgroup>

          <thead>
            <tr>
              <th>Nombre y apellidos</th>
              <th>DNI</th>
              <th>Responsabilidad</th>
              <th>Tiempo de asistencia</th>
              <th>Firma</th>
            </tr>
          </thead>
          <tbody>
          {% for i in range(30) %}
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</page>
