<p>En las dos imágenes siguientes se muestra tanto el mapa de incendios como el de orientaciones de la zona de estudio. Como se ve en las mismas las pendientes son importantes y casi toda la superficie tiene una pendiente superior al 33%. En cuanto a las orientaciones nos encontramos con una variedad debido a la orografía accidentada de la zona pero con una predominancia de la orientación sur.</p>
</div>
</div>
<div class="row">
  <div class="content two_columns">
    <img class="imagen_pendientes" src="../../../IMAGENES/pendiente_{{ zona }}.png" />
    <div class="pie_pagina">Mapa de pendientes de la zona de estudio. Fuente: elaboración propia a partir de datos del IGN.</div>
  </div>
  <div class="content two_columns">
    <img class="imagen_orientaciones" src="../../../IMAGENES/orientaciones_{{ zona }}.png" />
    <div class="pie_pagina">Mapa de orientaciones de la zona de estudio. Fuente: elaboración propia a partir de datos del IGN.</div>
  </div>
</div>
<div class="row">
  <div class="content">
