<h1>5. PUESTOS, FUNCIONES Y RESPONSABILIDADES</h1>
<p><strong>- Responsable de la Unidad Administrativa.</strong></p>
<p><strong>- Responsable Administrativo del Proyecto de Quemas.</strong></p>
<p><strong>- Responsable Administrativo de la Ejecución de Quemas.</strong></p>
<p><strong>- Responsable Elaboración del Plan de Quemas.</strong></p>
<p><strong>- Jefe de Quema.</strong></p>
<p><strong>- Responsable-Jefe de Equipo(s) de Ignición.</strong></p>
<p><strong>- Responsable-Jefe de Equipo(s) de Contención.</strong></p>
 
