<p>Nuestra zona de estudio se encuentra ubicada en la provincia de Cáceres dentro de la comunidad autónoma de Extremadura. En la imagen se muestra ubicación en detalle de la misma.</p>
</div>
</div>
<div class="row">
  <div class="content two_columns">
    <img src="../../../IMAGENES/mapa_ubicacion_sombra.png" />
    <div class="pie_pagina">Ubicación de la zona de estudio respecto a la comunidad autónoma de Extremadura.</div>
  </div>
  <div class="content two_columns">
    <img src="../images/ubicacion_{{ zona }}.png" />
    <div class="pie_pagina">Plano detalle de la zona de estudio.</div>
  </div>
</div>
<div class="row">
  <div class="content">
    <p>En esta región de dan unas condiciones climáticas, geográficas, botánicas y faunísticas que pasamos a detallar:</p>
