<!DOCTYPE html>
<html>
<head><meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../css/clima.css">
<link rel="stylesheet" href="../css/fichas.css">
</head>

<body>
  <page size="A4">
  <div class="container">
  {% include 'header.html' %}
    <div class="row">
      <div class="content">
        <h2>Seguimiento anual de la quema</h2>
      </div>
    </div>
    <div class="row boxed">
      <div class="content width_100">
        <p><strong>1. Localización</strong></p>
        <div class="break"></div>
        <div class="subcontent width_75">
        {% for key, value in [('CCAA', 'Extremadura'), ('Provincia', 'Cáceres'), ('Municipio', 'Tornavacas'), ('Paraje', ''), ('Monte', '')] %}
          <p style="float: left">{{ key }}</p>
          <div class="caja larga">{{ value }}</div>
          <div style="clear:both"></div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row boxed">
      <div class="content width_100">
          <p><strong>2. Objetivos específicos de la quema</strong></p>
        <div class="break"></div>
        <div class="subcontent">
          {% for texto in ['Reducción de riesgos de incendios', 'Daños cinegéticos', 'Creación de accesos (a fincas, cazaderos, etc.)', 'Regeneración de pastos', 'Preparación para la repoblación forestal'] %}
          <p style="float: left">{{ texto }}</p>
          <div class="caja"></div>
          <div style="clear:both"></div>
          {% endfor %}
        </div>
        <div class="subcontent">
          {% for texto in ['Eliminación de matorral para limpieza de fincas', 'Control sanitario', 'Apertura y mantenimiento de líneas de defensa', 'Otros tratamientos selvícolas', 'Otros'] %}
          <p style="float: left">{{ texto }}</p>
          <div class="caja"></div>
          <div style="clear:both"></div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row boxed height-1200">
      <div class="content width_100">
          <p><strong>3. Opiniones de la quema</strong></p>
      </div>
    </div>
  </div>
  </page>
  <page size="A4">
  <div class="container">
    <div class="row boxed height-1500">
      <div class="content width_100">
          <p><strong>4. Seguimiento anual de la quema</strong></p>
      </div>
    </div>
  </div>
  </page>
